body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.icon {
    margin: 0 0 0 75%;
}

.icon img {
    width: 10%;
    padding: 2%;
}

.content {
    position: relative;
}

.card {
    background: rgba(19, 187, 243, 0.473);
    /* background: linear-gradient(0deg, rgba(14, 128, 167, 1) 57%, rgba(64, 171, 231, 1) 100%); */
    color: white;
    margin: 8%;
    padding: 3%;
    font-size: 140%;
    position: relative;
    height: auto;
}

.card h1 {
    color: rgb(68, 66, 66);
    overflow: hidden;
}

.card h1:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 8px solid black;
}

.main {
    color: black;
    text-align: center;
    font-size: 140%;
    padding-bottom: 10%;
}

.main h1 {
    font-family: 'Bitter', serif;
}

h1,
h2 {
    font-family: 'Noto Serif', serif;
}

h3,
h4 {
    font-family: 'Cabin', sans-serif;
}

li {
    font-family: 'Markazi Text', serif;
    font-size: 120%;
    font-weight: 600;
    line-height: 150%;
}

.content img {
    width: 22%;
    border: 8px solid white;
    margin-left: 39%;
    border-radius: 300px;
}

footer {
    bottom: 0;
    left: 0;
    position: fixed;
    background: rgb(69, 221, 241);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 18%;
    justify-content: space-between;
}

a {
    font-size: 130%;
    color: rgb(117, 116, 116);
    font-weight: 700;
    padding: 2% 3%;
    cursor: pointer;
    text-decoration: none;
}

.myBtn {
    position: fixed;
    bottom: 10%;
    right: 2%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(70, 66, 66, 0.63);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    border-radius: 10px;
}

#tabs {
    background: rgba(19, 187, 243, 0.473);
    color: white;
    margin: 8%;
    padding: 3%;
    font-size: 140%;
    position: relative;
    height: auto;
}

#accordion {
    background: rgba(19, 187, 243, 0.473);
    color: white;
    margin: 8%;
    padding: 3%;
    font-size: 140%;
    position: relative;
    height: auto;
}

#accordion #resizable {
    color: white;
    background-color: rgba(19, 187, 243, 0.473);
    background-size: cover;
}

#resizable {
    width: 97.5%;
    height: 150px;
    padding: 0.5em;
}

@media screen and (max-width:420px) {
    footer {
        flex-wrap: wrap;
    }
    footer a {
        font-size: 50%;
    }
    .main {
        font-size: 105%;
    }
    #tabs,
    #accodrion,
    .card {
        font-size: 70%;
    }
}